/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1em;
  color: black;
  background-image: url(./../images/bgtile.png);
  background-repeat: repeat-x;
}

.background {
  background-image: url(bgtile.png);
}

.principalbox {
  margin: 75px;
  list-style: none;
  border: 1px;
  padding: 0;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.box2 {
  width: 40%;
}

.boxbuton {
  margin-right: auto;
}

.box3 {
  width: 450px;
  padding: 0;
  display: flex;

  align-items: center;
  text-align: center;
}


p {
  text-align: left;
}

.box4 {
  width: auto;
  color: #13269B;
  text-align: center;


}

.box5 {
  margin: -27px;
  list-style: none;
  border: 2px solid silver;
  padding: 0;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.box6 {
  margin: 30px;
  width: 400px;
  align-content: center;
  flex-wrap: wrap;
}


.footer-ul {
  width: 500px;
  display: flex;
  margin: 5% auto;
  list-style-type: none;
}

.footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.android {
  margin-left: 30px;
}